asyncio
pandas
vaderSentiment
hdbscan
openai==1.76.2
openai-agents==0.0.13
python-dotenv
numpy
slack_sdk
scikit-learn
tiktoken
fastapi
uvicorn
umap-learn
matplotlib
scipy
sentence_transformers
nltk
InstructorEmbedding